@{
    ViewBag.Title = "Ofertas de Empleo para ti";
}

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="Images/profile.png" alt="">
                <div class="intro-text">
                    <span class="name">El sitio ideal<br />para conseguir empleo</span>
                    <hr class="star-light">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <!-- Seccion Empleos Destacados -->
    <section id="jobs">
        <div class="col-md-8">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="tt">Empleos Destacados</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <tr></tr>
                    <tr>
                        <td>
                            <p>
                                <a href="#">Descripcion del trabajo</a>
                            <p><span>Compañia: </span> Nombre de la compañia | <span>Ubicación: </span> Ubicacion de la compañia</p>
                            </p>
                            <p>
                                <a href="#">Descripcion del trabajo</a>
                            <p><span>Compañia: </span> Nombre de la compañia | <span>Ubicación: </span> Ubicacion de la compañia</p>
                            </p>

                            <p>
                                <a href="#">Descripcion del trabajo</a>
                            <p><span>Compañia: </span> Nombre de la compañia | <span>Ubicación: </span> Ubicacion de la compañia</p>
                            </p>

                            <p>
                                <a href="#">Descripcion del trabajo</a>
                            <p><span>Compañia: </span> Nombre de la compañia | <span>Ubicación: </span> Ubicacion de la compañia</p>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>

    <!-- Seccion Empleadores Destacados -->
    <section id="employers">
        <div class="col-md-4">
            <div class="row">
                <div class="col-lg-10 text-center">
                    <h2 class="tt">Compañias Destacadas</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#">
                        <img src="Images/companies/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#">
                        <img src="Images/companies/cake.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#">
                        <img src="Images/companies/circus.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#">
                        <img src="Images/companies/game.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Sección Publicar Empleo -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>¿Quieres publicar un empleo?</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    Registrate aquí
                </a>
            </div>
        </div>
    </div><br />
</section>
